<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body { background-color: #0a1930; padding: 30px; font-family: Arial,
      Helvetica, sans-serif; } .container { background-color: #eee; padding:
      10px; border-radius: 3px; } .color-primary { color: #007bff; }
      .color-danger { color: orangered; } .color-success { color: #28a745; }
      .color-white { color: #fff; } .color-blue { color: #0a1930; } a {
      font-size: 1rem; text-decoration: none; } .btn { font-size: 1rem;
      font-weight: 400; padding: 6px 8px; margin: 0 5px 0 0; border: 1px solid
      transparent; border-radius: 3px; cursor: pointer; } .btn-primary { color:
      #fff; background: #007bff; } .btn-secondary { color: #fff; border: 1px
      solid #fff; background: transparent; } .btn-danger { color: #fff;
      background: orangered; } .btn-success { color: #fff; background: #088178;
      } .flex-center { display: flex; justify-content: center; align-items:
      center; } .logo { padding: 5px 1rem; background-color: #088178; } .my {
      margin: 2rem 0; } a{color: white;}
    </style>
  </head>
  <body>
    <div class="container">
      <div class="logo flex-center">
        <h2 class="color-white">farmGhana</h2>
      </div>
      <h2>Hello <span class="color-danger">{{name}}</span></h2>
      <p>Your order with ID: {{myOrderId}} have been cancelled!</p>
      <p>Below are the details of the order</p>
      <p>Order ID: {{myOrderId}}</p>
      <p>Total: {{total}}</p>

      <a href={{link}} class="btn btn-success">View Cancelled Order</a>

      <p>If you did not initiate this cancellation, please contact our support
        team.
      </p>

      <a href="mailto:danielsah118@outlook.com" class="btn btn-danger">contact
        support Team</a>

      <div class="my">
        <p>Best wishes,</p>
        <p><b class="color-danger">farmGhana</b> </p>
      </div>
    </div>
  </body>
</html>